@use "~/styles/helpers" as *;

.theme-button {
	@include button-reset;
	@include square(var(--button-height));
	@include flex-center(true);
	
	position: absolute;
	top: rem(24);
	right: rem(24);
	border-radius: var(--border-radius);
	border: var(--border-default);
	z-index: 100;
	background-color: var(--color-bg);
	color: var(--color-text);

	svg * {
		fill: currentColor;
	}
}
