@use "~/styles/helpers" as *;

.cases {
	// padding-top: rem(208);

	// @include mobile {
	// 	padding-top: rem(420);
	// }

	&__list {
		display: flex;
		flex-direction: column;
		row-gap: rem(40);
	}
}