@use "~/styles/helpers" as *;

.footer {
  padding-block: rem(60) rem(32);

  @include mobile {
    padding-block: rem(40) rem(24);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @include mobile {
      flex-direction: column-reverse;
      align-items: start;
      row-gap: rem(24);
    }
  }

  &__link {
    font-size: rem(14);
    line-height: 1.2;
    color: var(--color-muted);
    text-decoration: underline;

    @include hover {
      color: var(--color-text);
    }
  }
}
