@use "~/styles/helpers" as *;

.socials {
  display: flex;
  column-gap: rem(24);

  &-link {
    font-size: rem(14);
    line-height: 1.2;
    color: var(--color-gray-dark);
    text-decoration: underline;

    @include hover {
      color: var(--color-dark);
    }
  }
}
