@use "./../helpers" as *;

body {
  font-size: rem(16);
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--color-dark);
  background: var(--color-light-alt);
  line-height: 1.3;
  letter-spacing: -0.01em;
}

a {
  color: inherit;
  text-decoration: none;
}

a,
button,
input,
label,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

:not(input):focus-visible {
  outline: rem(2) dashed red;
  outline-offset: rem(4);
  transition-duration: 0s !important;
}