@use "./../helpers" as *;

:root {
  --color-light: #fdfdfc;
  --color-dark: #111;

  --color-bg-light: #fdfdfc;
  --color-text-light: #111;
  --color-surface-light: #f0f0f0;
  --color-surface-2-light: #fff;
  --color-surface-3-light: #e5e5e4;
  --color-muted-light: #6f6f6f;

  --color-bg-dark: #111;
  --color-text-dark: #fdfdfc;
  --color-surface-dark: #1c1c1c;
  --color-surface-2-dark: #363636;
  --color-surface-3-dark: #545454;
  --color-muted-dark: #9f9f9e;

  --color-bg: var(--color-bg-light);
  --color-text: var(--color-text-light);
  --color-surface: var(--color-surface-light);
  --color-surface-2: var(--color-surface-2-light);
  --color-surface-3: var(--color-surface-3-light);
  --color-muted: var(--color-muted-light);

  --font-family: "Inter", sans-serif;

  --container-width: #{rem(768)};
  --container-padding-x: #{rem(24)};

  --border-radius-x-small: #{rem(3)};
  --border-radius-small: #{rem(8)};
  --border-radius: #{rem(12)};
  --border-radius-large: #{rem(16)};

  --border-default: #{rem(1)} solid var(--color-surface-3);

  --button-height: #{rem(40)};

  --transition-duration: 0.25s;
}

:root[data-theme="dark"] {
  --color-bg: var(--color-bg-dark);
  --color-text: var(--color-text-dark);
  --color-surface: var(--color-surface-dark);
  --color-surface-2: var(--color-surface-2-dark);
  --color-surface-3: var(--color-surface-3-dark);
  --color-muted: var(--color-muted-dark);
}
