@use "./../helpers" as *;

:root {
  --color-dark: #111;
  --color-light: #fff;
  --color-light-alt: #fdfdfc;
  --color-gray: #f0f0f0;
  --color-gray-dark: #6f6f6f;
  --color-gray-light: #e5e5e4;

  --font-family: "Inter", sans-serif;

  --container-width: #{rem(768)};
  --container-padding-x: #{rem(24)};

  --border-radius-x-small: #{rem(3)};
  --border-radius-small: #{rem(8)};
  --border-radius: #{rem(12)};
  --border-radius-large: #{rem(16)};

  --border-light: #{rem(1)} solid var(--color-gray-light);
  // --border-dark: #{rem(1)} solid var(--color-gray-light);

  --button-height: #{rem(40)};

  --transition-duration: 0.25s;
}